deployment/tensorflow1/tensorflow/tools/ 
deployment/tensorflow1/tensorflow/python/ 
deployment/tensorflow1/tensorflow/security/ 
deployment/tensorflow1/tensorflow/lite/
deployment/tensorflow1/tensorflow/c/
deployment/tensorflow1/tensorflow/cc/
deployment/tensorflow1/tensorflow/compat_template.__init__.py
deployment/tensorflow1/tensorflow/compat_template_v1.__init__.py
deployment/tensorflow1/tensorflow/compiler/
deployment/tensorflow1/tensorflow/core/
deployment/tensorflow1/tensorflow/docs_src/
deployment/tensorflow1/tensorflow/examples/README.md
deployment/tensorflow1/tensorflow/examples/__init__.py
deployment/tensorflow1/tensorflow/examples/adding_an_op/
deployment/tensorflow1/tensorflow/examples/android/
deployment/tensorflow1/tensorflow/examples/udacity/
deployment/tensorflow1/tensorflow/examples/wav_to_spectrogram/
deployment/tensorflow1/tensorflow/go/
deployment/tensorflow1/tensorflow/java/
deployment/tensorflow1/tensorflow/js/
deployment/tensorflow1/tensorflow/opensource_only.files
deployment/tensorflow1/tensorflow/stream_executor/
deployment/tensorflow1/tensorflow/tensorflow.bzl
deployment/tensorflow1/tensorflow/tf_exported_symbols.lds
deployment/tensorflow1/tensorflow/tf_framework_version_script.lds
deployment/tensorflow1/tensorflow/tf_version_script.lds
deployment/tensorflow1/tensorflow/version_check.bzl
deployment/tensorflow1/tensorflow/virtual_root_template_v1.__init__.py
deployment/tensorflow1/tensorflow/virtual_root_template_v2.__init__.py
deployment/tensorflow1/tensorflow/workspace.bz
deployment/tensorflow1/.DS_Store
deployment/tensorflow1/tensorflow/.clang-format
deployment/tensorflow1/tensorflow/BUILD
deployment/tensorflow1/tensorflow/__init__.py
deployment/tensorflow1/tensorflow/api_template.__init__.py
deployment/tensorflow1/tensorflow/api_template_v1.__init__.py
deployment/tensorflow1/tensorflow/examples/image_retraining/
deployment/tensorflow1/tensorflow/examples/label_image/
deployment/tensorflow1/tensorflow/examples/multibox_detector/
deployment/tensorflow1/tensorflow/examples/speech_commands/__pycache__/
deployment/tensorflow1/tensorflow/workspace.bzl
.ipynb_checkpoints
deployment/.DS_Store
deployment/.ipynb_checkpoints/
 
